*{
    margin : 0;
    padding : 0;
}

body { 
    background-color: #000000;
}

#header {
    background: url(../asset/header-dark.png);
    height: 150px;
    text-align: right;

}

a:link, a:visited {
    color:#929292;
    font-size: 15px;
    margin-right: 20px;
    line-height: 50px;
    text-decoration: none;
}

a:active {
    line-height: 30px;
    color: #ffffff;
    font-size: 15px;
}

h1 {
    line-height: 50%;
    color: #EEEEEE;
    font-size: 80px;
    text-align: center;
    font-family: cursive;
}

h2 {
    line-height: 80px;
    color: #EEEEEE;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
#title {
    color: #000000;
    text-align: center;
    font-size: 60px;
    line-height: 300px;
}

#introduce {
    width: 1000px;
    height: 500px;
    margin-left: 12%;
    padding-top: 100px;
}